
body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: #f4f4f9;
    text-align: center; /* centre tout le texte */
    
}
button {
    padding: 10px 20px;
    font-size: 1rem;
    margin: 5px;
}

